<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peacetrack"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        
       	android:theme="@style/AppTheme"
        android:label="@string/app_name" >
        <activity
            android:name="com.peacetrack.LoginActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.peacetrack.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/welcomeactivity_label" />
        <activity
            android:name="com.peacetrack.AllCohortsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/allcohortsactivity_label" />
        <activity
            android:name="com.peacetrack.AllActivitiesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/allactivitiesactivity_label" />
        <activity
            android:name="com.peacetrack.AllMeasurementsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/allmeasurementsactivity_label" />
        <activity
            android:name="com.peacetrack.AddCohortActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/addcohortactivity_label" />
        <activity
            android:name="com.peacetrack.AddActivityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/addactivityactivity_label" />
        <activity
            android:name="com.peacetrack.AddMeasurementActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/addmeasurementactivity_label" />
        <activity
            android:name="com.peacetrack.CohortDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/cohortdetailsactivity_label" />
        <activity
            android:name="com.peacetrack.MeasurementDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/measurementdetailsactivity_label" />
        <activity
            android:name="com.peacetrack.AddIndicatorsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/addindicatorsactivity_label" />
        
    </application>

</manifest>
